*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy Light';
    color: black;
}
html,body{
    height: 100%;
    width: 100%;
}
#loader{
    height: 100vh;
    width: 100%;
    z-index: 99;
    position: fixed; /*its posn will be fixed therfore available on top of main*/
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loader h1{
    font-family: bodoni mt;
    font-size: 100px;
    color:  #FF725C;
    font-weight: 999;
}
#loader:hover{
    cursor: pointer;
}
.main{
    height: 100%;
    width: 100%;
    position: relative;
}
.main:hover{
    cursor: pointer;
}
.nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    border-bottom: 2px solid #dadada;
}
.nav a{
    text-decoration: none;
}
.nav a:hover{
    color: #FF725C;
}
.checkbtn{
    font-size: 30px;
    color: #dadada;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    background-color: #FF725C;
}
.nav h1{
    font-weight: bold;
    margin-left: 2.2vw;
}
.nav i{
    font-size: 1.65vw;
    font-weight: bolder;
    display: none;
}
.navpart2 {
    display: flex;
    color: #FCFEFE;
    font-size: 1.5vw;
    font-weight: bolder;
    gap: 4vw;
    align-items: center;

}
.navpart2 span{
    background-color: #FF725C;
    border-radius: 5px;
    padding: 0.5vw 1.5vw;
    color: #fff;
    font-weight: bolder;
}
.navpart2 h4:hover{
    color: #FF725C;
}
.content{
    height: calc(100% - 100px); /*this function is used to provide arithemetic operations*/
    width: 100%;
    background-color: #fff;
    display: flex;
    position: relative;
}
.left{
    height: 100%;
    width: 50%;
    padding: 2vw 5vw;
    
}
.left input{
    width: 30%;
}
.left h2{
    font-size: 1.5vw;
    margin: 2.5vw 0;
}
.left input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 2px solid #dadada;
    background: transparent;
    outline: none;
    height: 2.2vh;
    font-size: 2.2vh;
}
.left input[type="submit"]{
    margin: 2vw 0;
    font-size: 1.5vw;
    padding: 1.1vw 1.1vw;
    background-color: #FF725C;
    border: none;
    color: #fff;
    border-radius: 30px;
    font-weight: 999;
}

.left img{
    height: 30%;
    width: 30%;
    border-radius: 50%;
}
.left h1{
    font-size: 4vw;
    font-weight: bolder;
    color: black;
    padding-top: 1.5vh;
}
.left #name{
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-right: 6vw;
    letter-spacing: -0.1vw;
    color: #FF725C;

}
.left p{

    align-items: center;
    font-size: 1.3vw;
    font-weight: 700;
    width: 80%;
    margin-top: 1.5vw;
    margin-bottom: 3vw;
}
button{
    font-size: 1.5vw;
    padding: 1.1vw 2.1vw;
    background-color: #FF725C;
    border: none;
    color: #fff;
    border-radius: 45px;
    font-weight: 999;

}
button:hover{
    color: #d9d8d8;
}
.left span{
    font-size: 3vw;
    background-color: #000;
    border-radius: 50px;
    padding: 0.5vw 1.5vw;
    color: #fff;
    font-weight: bolder;
}

.left a:hover{
    color: #FF725C;
}
.right{
    height: 100%;
    width: 50%;

}
.right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#footer{
    height: 150px;
    width: 100%;
    background-color: #FF725C;
    display: flex;
    margin-top: 30px;
    padding: 0 5vw;
    justify-content: space-between;
    align-items: center;
}
#cube1 h3{
    color: white;
}
#cube2 h3{
    color: white;
}
#footer h3:hover{
    color: #d9d8d8;
}
@media (max-width:500px) {
    .nav{
        height: 80px;
        justify-content: space-between;
    }
    .nav h1{
        font-size: 5vw;
    }
    .nav .ri-menu-3-line{
        color: #000;
        font-size: 4vw;

    }
    .navpart2{
        display: none;
    }
    .content{
        height: 100%;
        flex-direction: column;

    }
    .left{
        min-width: 100%;
        min-height: 70vh;
        display: flex;
        flex-direction: column;
    }
    .left h1{
        margin: 2vh 0;
        font-size: 9vw;
    }
    .left h2{
        font-size: 4vw;
        display: inline-block;
    }
    .right{
        min-height: 50%;
        width: 100%;
    }
    .right img{
        min-height: 60vh;
        width: 100%;
        object-fit: cover;
    }
}